<div class="quetions">


    <div class="quetions__item">
        <div class="quetions__row">
            
            <div class="material-icons quetions__icon">
                calendar_today
            </div>
            <div class="quetions__title">
                How was your day?

            </div>
        </div>

        <div class="quetions__link">
            <div class="material-icons quetions__icon">
                chevron_right
            </div>
        </div>
        <div class="quetions__desc"> Lorem ipsum dolor sit amet, consectetur adipscing elit. Ut vel odio en urna
            ultrice...</div>


    </div>





    <div class="quetions__item">
        <div class="quetions__row">
           
            <div class="material-icons quetions__icon">
                schedule
            </div>
            <div class="quetions__title">
                Current Transist: 3rd House

            </div>
        </div>

        <div class="quetions__link">
            <div class="material-icons quetions__icon">
                chevron_right
            </div>
        </div>
        <div class="quetions__desc"> Lorem ipsum dolor sit amet, consectetur adipscing elit. Ut vel odio en urna
            ultrice...</div>
    </div>
</div>